.seatMap {
  text-align: center;
  margin: 20px;
}

.seat {
  width: 100px;
  height: 80px;
  margin: 5px;
  border-radius: 15%;
}

.saveButton {
  width: 150px;
  margin-top: 5px;
  padding: 5px;
  margin-bottom: 20px;
}

.seat:hover {
  background-color: blueviolet;
  color: white;
}

.seat:focus {
  background-color: blueviolet;
  color: white;
}

.seat.booked {
  background-color: aqua;
  cursor: not-allowed;
}

.seat.aisleRight {
  margin-right: 95px;
}

.flightDetails {
  text-align: center;
}

.flightDetailsTable {
  margin: 0 auto;
  width: 500px;
}
