.seatMap {
  text-align: center;
  margin: 20px;
}

.seat {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 15%;
}

.seat.aisleRight {
  margin-right: 95px;
}

.flightDetails {
  text-align: center;
}

.flightDetailsTable {
  margin: 0 auto;
}