<h1>Flights Index</h1>
<h1>All Products</h1>
<% @flights.each do |f| %>
  <div>
    <% 'Airplane Id :'%>
    <%= f.airplane_id%>
    <% 'Flight Date :'%>
    <%= f.airplane_id%>
    <% 'Origin :'%>
    <%= f.airplane_id%>
    <% 'Destination :'%>
    <%= f.airplane_id%>
  </div>
<% end %>
